.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.logo {
	font-weight: 600;
	text-decoration: none;
}

.nav {
	display: flex;
	gap: 2rem;
}

.nav a {
	text-decoration: none;
}
